.project{
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: var(--app-bg);
    color: var(--app-white);
    min-height: 100vh;
    user-select: none;
}

.project__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__card{
    background-color: var(--app-bg-light);
    width: 100%;
    height: 3rem;
    padding-inline: 1rem;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.2s;
}

.project__card h1{
    cursor: pointer;
}

.project__card-icon, .project__header-icon{
    color: var(--app-primary);
    filter: grayscale(1);
    cursor: pointer;
    font-size: 2rem;
    opacity: 0.4;
    transition: ease-in-out 0.2s;
}

.project__card-icon:hover, .project__header-icon:hover{
    opacity: 1;
    filter: grayscale(0);
}