.bugPage{
    width: 100%;
    min-height: 100vh;
    background-color: var(--app-bg);
    display: flex;
    padding: 1%;
    gap: 1.5%;
}

.bugPage__category{
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 33%;
    color: var(--app-white);
}

.bugPage__category-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bugPage__category-header--icon, .bugPage__category-card--icon{
    font-size: 2rem;
    cursor: pointer;
    color: var(--app-primary);
    filter: grayscale(1);
    transition: ease-in-out 0.2s;
}

.bugPage__category-header--icon:hover, .bugPage__category-card--icon:hover{
    filter: grayscale(0);
}

.bugPage__category-header--icon:hover{
    color: var(--app-primary);
}

.bugPage__category-card{
    background-color: var(--app-bg-light);
    padding: 1%;
    margin-block: 2.5%;
    border-radius: 5px;
}

.bugPage__category-card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bugPage__category-card--arrows---icon{
    font-size: 2rem;
    filter: grayscale(1);
    color: var(--app-primary);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.bugPage__category-card--arrows---icon:hover{
    filter: grayscale(0);
}

.bugPage__category-card--arrows{
    display: flex;
    justify-content: space-between;
}

.big{
    height: 3rem;
    display: flex;
    align-items: center;
}

.right{
    justify-content: flex-end !important;
}

.left{
    justify-content: flex-start !important;
}

.bugPage__category-card--input{
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    border-bottom: 1px solid var(--app-white);
    color: var(--app-white);
}

.bugPage__category-card--input:focus{
    outline: none;
}

.bugPage__category-card--middle{
    display: flex;
    justify-content: space-between;
}

.bugPage__category-card--middle---icon{
    font-size: 1rem;
    margin-right: 4px;
    filter: grayscale(1);
    color: var(--app-primary);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.bugPage__category-card--middle---icon:hover{
    filter: grayscale(0);
}