.load{
    height: 100vh;
    background-color: var(--app-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin: auto;
    border: 20px solid var(--app-white);
    border-radius: 50%;
    border-top: 20px solid var(--app-primary);
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }