* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --app-bg: #1d1d1d;
    --app-bg-light: #333333;
    --app-white: rgba(255, 255, 255, 0.87);
    --app-white-m: rgba(255, 255, 255, 0.60);
    --app-white-l: rgba(255, 255, 255, 0.38);
    --app-primary: #00EAFF;
    --app-secondary: #A396FC;
    --app-alert: #FF3737;
}

.app{
    margin-left: 3rem;
}